@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
body {
  background-color: #f9feff;
}
.pop{
  font-family: "Poppins", sans-serif;
}


/* Webkit Browsers */
::-webkit-scrollbar {
  width: 6px; /* width for vertical scrollbars */
  height: 6px; /* height for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background: #9835ff; /* Scrollbar color */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #a14af8; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9835ff #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #9835ff;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}
.hide-scroll {
  /* Custom styles to hide the scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.custom-steps_two {
  font-family: poppins;
  font-weight: 500;

}
.custom-steps {
  font-family: poppins;
  font-weight: 500;
   
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #9835ff;
  border-color: #9835ff;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon .ant-steps-icon {
  color: #fff;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #9835ff;
  border-color: #9835ff;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
  color: #fff;
}

.custom-steps .ant-steps-item::after {
  border-color: #9835ff;
}

.custom-steps .ant-steps-item-process::after {
  border-color: #9835ff;
}

.custom-steps .ant-steps-item-finish::after {
  border-color: #9835ff;
}

.custom-radio {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  
}

.custom-radio-box {
  width: 20px;
  height: 20px;
  
  border: 2px solid #9835ff;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
}

.custom-radio input:checked + .custom-radio-box {
  background-color: #9835ff;
}

.upload-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Add this to your CSS file */
.placeholder-white::placeholder {
  color: rgb(226, 224, 224);
}

.ql-editor {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #404660;


}

.ql-toolbar {
  border-color: #9835ff;
}

.ql-toolbar button:hover {
  background-color: #f8f8f8;
  color: #fff;
}

.ql-toolbar button.ql-active {
  background-color: #9835ff;
  color: #fff;
}

.ql-toolbar .ql-picker-label {
  color: #9835ff;
}

.ql-toolbar .ql-picker-item:hover {
  background-color: #f8f8f8;
  color: #fff;
}

.ql-toolbar .ql-picker-item.ql-selected {
  background-color: #9835ff;
  color: #fff;
}

.checkbox-custom {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox-custom::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 2px;
  transition: background-color 0.2s;
}

input[type="checkbox"]:checked + .checkbox-custom::before {
  background-color: #333;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #9835ff; /* Your primary color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
